  body { width: 100%; height: 100%; }

      .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
  .btn-group-fab {
    position: fixed;
    width: 64px;
    height: auto;
    right: 24px;
    bottom: 24px;
  }

  .btn-group-fab div {
    position: relative;
    width: 100%;
    height: auto;
  }

  .btn-group-fab .btn {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    display: block;
    margin: 6px auto;
    width: 52px;
    height: 52px;
  }

  .btn-group-fab .btn-main {
    width: 64px;
    height: 64px;
    right: 50%;
    margin-right: -32px;
    z-index: 9;
  }

  .btn-group-fab .btn-sub {
    bottom: 0;
    z-index: 8;
    right: 50%;
    margin-right: -26px;
    transition: all 0.5s;
    color: white;
    background: #7043C1 !important;
  }

  .btn-group-fab.active .btn-sub:nth-child(2) {
    bottom: 78px; /* + ~50% from original */
  }
  .btn-group-fab.active .btn-sub:nth-child(3) {
    bottom: 144px;
  }
  .btn-group-fab.active .btn-sub:nth-child(4) {
    bottom: 210px;
  }
  .btn-group-fab.active .btn-sub:nth-child(5) {
    bottom: 276px;
  }

  .btn-group-fab .btn i {
    font-size: 1.4rem;
    line-height: 1;
  }

  .select-resource{
              background-color: rgba(87, 102, 218, 0.08) !important;
              color: #7043C1 !important;
  }

  .clickable{
      cursor: pointer;
  }

  .clickable:hover{
    color: rgb(185, 191, 234) !important;
  }