:root {
    --primary: #ff5900
}


.btn-style {
    background: #FF5900 !important;
    color: #fff !important;
    cursor: default !important;
    margin: 0 !important;
    border-radius: 5px 0 0 5px !important;
}

.colorTitle {
    color: #5e428d !important;
}

.styleModal {
    width: 100% !important;
    border-radius: 15px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
}

.text-color {
    color: #5e428d;
}

h6 {
    margin: 10px 0;
    font-family: "Zilla Slab", serif;
}


.w-fit {
    min-width: fit-content;
    width: fit-content;
}

.w-min {
    width: min-content;
}

.w-max {
    width: max-content;
}

.w-0 {
    width: 0%;
}

.maxw-100 {
    max-width: 100%;
}

.maxw-max {
    max-width: max-content;
}

.flex-0 {
    flex: 0 !important;
}

.flex-1 {
    flex: 1;
}

.flex-1.w-fit {
    flex: 1 1 min-content;
}

.small,
small {
    font-size: 11px;
    font-size: 90% !important;
}

.badge {
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06),
        0 1px 0 0 rgba(0, 0, 0, 0.02);

    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);

    margin: 0.125em 0 0.125em 0;

    font-weight: 500;
}

.badge-lime {
    background-color: hsl(80 80% 45% / 1);
    color: #ffffff;
}

.badge-gray {
    background-color: #888888;
    color: #ffffff;
}


.waves-effect .waves-ripple {
    position: absolute;

    border-radius: 50%;

    width: 100px;

    height: 100px;

    margin-top: -50px;

    margin-left: -50px;

    opacity: 0;

    background: rgba(0, 0, 0, 0.2);

    background: radial-gradient(rgba(0, 0, 0, 0.2) 0,
            rgba(0, 0, 0, 0.3) 40%,
            rgba(0, 0, 0, 0.4) 50%,
            rgba(0, 0, 0, 0.5) 60%,
            rgba(255, 255, 255, 0) 70%);

    -webkit-transition: all 0.5s ease-out;

    transition: all 0.5s ease-out;

    -webkit-transition-property: -webkit-transform, opacity;

    -webkit-transition-property: opacity, -webkit-transform;

    transition-property: opacity, -webkit-transform;

    transition-property: transform, opacity;

    transition-property: transform, opacity, -webkit-transform;

    -webkit-transform: scale(0) translate(0, 0);

    transform: scale(0) translate(0, 0);

    pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);

    background: radial-gradient(rgba(255, 255, 255, 0.2) 0,
            rgba(255, 255, 255, 0.3) 40%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.5) 60%,
            rgba(255, 255, 255, 0) 70%);
}


.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary,
.show>.btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover,

.show>.btn-primary.dropdown-toggle,
.btn-primary.disabled,
.btn-primary:disabled,

.show>.btn-outline-primary.dropdown-toggle,
a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
    background-color: hsl(21, 94%, 60%) !important;
    border: 1px solid hsl(21, 94%, 60%);
}


.btn-primary.active,
.btn-primary:active,
.btn-outline-primary:enabled.active,
.btn-outline-primary:enabled:active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: hsl(21, 100%, 40%) !important;
    border-color: hsl(21, 100%, 40%);

}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-primary.focus,
.btn-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(87, 102, 218, 0.3) !important;
    box-shadow: 0 0 0 2px rgba(87, 102, 218, 0.3) !important;
}


/* custom buttons */
.btn-transparent {
    background-color: transparent;
    color: var(--primary);
}

.btn-transparent:hover {
    background-color: #e9ecef;
    color: var(--primary);
}


.modal-content .modal-header {

    border-color: #7043c1 !important;

    background-color: #7043c1 !important;

    color: white;
}

.modal-content .modal-header .close,
.modal-content .modal-header .close:hover {
    color: #ffffff;
    text-shadow: none;
}


.gradient-theme .tippy-backdrop {
    background: radial-gradient(circle at 67% 60%,
            #ff5900,
            #00bcd4,
            #7043c1,
            #f93b7a);
}


label,
.form-label {
    font-weight: 300;
    color: #6c757d;
    font-size: 12px;
    font-size: inherit;
}


.form-control {
    font-size: 12px;

    font-size: inherit;
    border: 1px solid #e9ecef;

    height: calc(2.3rem + 2px);
}

.form-control:focus {
    border-color: #ff5900;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.purple-focus:focus {
    border-color: #9267DC;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table thead tr th {
    background: #5e428d;
    color: #fff;
    font-size: 12px;
    font-size: inherit;
    text-align: center;
}

.table {
    font-size: inherit;
}

.table td {
    vertical-align: middle;
    font-size: 12px;
    font-size: inherit;
}

.tracking-timeline .timeline-content .track-info {
    background-color: #F0F0F0;

    padding: 40px;

    border-radius: 10px;

    margin-bottom: 8px;
}



/* custom utils */
.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 1rem;
}

.gap-4 {
    gap: 1.5rem;
}

.gap-5 {
    gap: 3rem;
}

.row-gap-0 {
    row-gap: 0;
}

.row-gap-1 {
    row-gap: 0.25rem;
}

.row-gap-2 {
    row-gap: 0.5rem;
}

.row-gap-3 {
    row-gap: 1rem;
}

.row-gap-4 {
    row-gap: 1.5rem;
}

.row-gap-5 {
    row-gap: 3rem;
}

.column-gap-0 {
    column-gap: 0;
}

.column-gap-1 {
    column-gap: 0.25rem;
}

.column-gap-2 {
    column-gap: 0.5rem;
}

.column-gap-3 {
    column-gap: 1rem;
}

.column-gap-4 {
    column-gap: 1.5rem;
}

.column-gap-5 {
    column-gap: 3rem;
}

.t-0 {
    top: 0;
}

.r-0 {
    right: 0;
}

.b-0 {
    bottom: 0;
}

.l-0 {
    left: 0;
}

.t-25 {
    top: 25%;
}

.t-50 {
    top: 50%;
}

.t-75 {
    top: 75%;
}

.r-25 {
    right: 25%;
}

.r-50 {
    right: 50%;
}

.r-75 {
    right: 75%;
}

.b-25 {
    bottom: 25%;
}

.b-50 {
    bottom: 50%;
}

.b-75 {
    bottom: 75%;
}

.l-25 {
    left: 25%;
}

.l-50 {
    left: 50%;
}

.l-75 {
    left: 75%;
}

.fs-inherit {
    font-size: inherit !important;
}

.fs-1 {
    font-size: 2.5rem !important;
}

.fs-2 {
    font-size: 2rem !important;
}

.fs-3 {
    font-size: 1.75rem !important;
}

.fs-4 {
    font-size: 1.5rem !important;
}

.fs-5 {
    font-size: 1.25rem !important;
}

.fs-6 {
    font-size: 1rem !important;
}

.fs-7 {
    font-size: 0.875rem !important;
}

.fs-8 {
    font-size: 0.75rem !important;
}

.fs-9 {
    font-size: 0.625rem !important;
}

.rounded-xl {
    border-radius: 0.5rem;
}

.rounded-xxl {
    border-radius: 1rem;
}

.table-compact td {
    padding: 0.4em 0.5em;
}

.shadowless {
    box-shadow: none !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group>* {
    width: 100%;
}

.bg-info.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
}